body{
background-image: url(img/fondo-bar.jpeg);
}
    
*{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 40%;
    top: 50%
}

.table{
    background-image: url(img/bar.png);
    width: 80%;
    height: auto;
    z-index: 3;
}

img [alt="barman"]{
    width: 100px;
    height: 200px;
}